body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}
div{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;   
    }
p{
   margin: 10px auto;
   width: 980px;
   text-align: justify;
   font-size: 18px;
   line-height: 28px;
   }
p span{
    font-weight: bold;
}   
.logo{
    background-color:#afddfb ;
    
}
.logo a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: solid 2px #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}
.logo p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.logo img{
    width: 150px;
}
.sobre{
    margin-top: 50px;
    padding-top: 0;
}
.sobre h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}
.sobre h2{
    font-size: 23px;
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
}
.sobre img, .corretores img{
    width: 450px;
}
.sobre p span, .corretores p span{
    color: #1d80c1;
}
.serviços{
    background-color: #1d80c1; 
    color: white;
}
.serviços h2, .contato h2{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.serviços p{
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}
.serviços p span, .contato p span{
    color: #fff81b;
}
.serviços ul{
    margin: 40px auto;
    width: 135px;
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}
.contato{
    background-color: #1d80c1;
}
.contato p{
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
}
.contato ul{
    margin: 40px auto;
    width: 210px;
}
.contato ul li{    
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #1d80c1;
    background-color: #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
}
